<div class="welcomeBox">
	<span class="welcomeBox_headline">Lorem Ipsum is simply<br />dummy text!</span>
	<p class="welcomeBox_paragraph"> 
		It is a long established fact that a reader will be distracted by the <br/>readable content of a page when looking at its layout. The point<br/> of using Lorem Ipsum is that it has a more-or-less normal.
	</p>
	<ul>
		<li>Reason 1 - dskafaskdj </li>
		<li>Reason 2 - dskafaskdj </li>
		<li>Reason 3 - dskafaskdj </li>
		<li>Reason 4 - dskafaskdj </li>
	<ul>
</div>



<h4>This is BonsaiUp.com</h4>
<p class="contentParagraph">
	
</p>
<div id="search">
	<%= render :partial => 'offers/search' %>
</div>
  
  
  <h2>OR</h2>
  

  
  <%= link_to "Sign up now to share your special knowledge!", '/signup', class: "btn btn-large btn-primary" %>



