<div class="center hero-unit">
  <h2>WELCOME. This is BonsaiUp!</h2>
  <div id="search">
      <%= render :partial => 'offers/search' %>
        </div>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>


