
  <h2>Welcome to BonsaiUp</h2>
    
  <div id="search">
      <%= render :partial => 'offers/search' %>
  </div>
  
  
  <h2>OR</h2>
  

  
  <%= link_to "Sign up now to share your special knowledge!", '/signup', class: "btn btn-large btn-primary" %>



