@import "bootstrap";

/* universal */

html 
{
  overflow-y: scroll;
}

body 
{
	padding: 0;
	margin: 0;
	background: #323332;
}

p
{
	margin-bottom: 3px;
}

.contentParagraph
{
	font-size: 12px;
	line-height: 18px;
}

h2
{
	padding: 0;
	margin:0;
	
	color: #6c9e3a;
	font-size: 24px;
}

h4
{
	padding:0;
	margin-top: 16px;
	margin-bottom: 8px;
}

/* header */

#topContainer
{
	height: 90px;
	background: #fff;
	border-bottom: solid #6c9e3a 5px;
}

#topContent
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#logoArea
{
	float: left;
	display: block;
	
	width: 288px;
	background: #ffffff;
}	

#logo 
{
	margin-top: 16px;
	margin-right: 10px;
}

#topNavigationArea
{
	float: right;
	color: #323332;
}

.topNavigation
{
	margin: 0;
	margin-top: 39px;
	padding: 0;
	
	float: left;
}



.topNavigation li
{
	display: block;
	padding: 0;
	margin:0;
	margin-left: 30px;
	
	float: left;
	font-size: 12px;
	font-weight: bold;
}	

.topNavigation li a 
{
	color: #323332;
}

#container1
{
	background: #edebeb;
}
	
.containerContent
{
	width: 960px;
	
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 35px;
	padding-bottom : 35px;
}
	


/* footer */
#footerContainer
{
	background: #323332;
	color: #f0f0f0;
	
	border-top: solid #6c9e3a 5px;
	
	padding: 0;
	margin: 0;
}

#footerContent
{
	width: 960px;
	
	margin-left: auto;
	margin-right: auto;
}

#footerTextArea
{
	
}

.footerText
{
	font-size: 10px;
}



/* CONTENT STUFF  */
.welcomeBox
{
	height: 319px;
	width: auto;
	padding: 35px 25px;
	
	background: URL('CenterGraphic.jpg') red no-repeat;
}

.welcomeBox_headline
{
	display: block;
	font-size: 32px;
	color: #6c9e3a;
	font-weight: bold;
	margin-bottom: 18px;
	
	line-height: 32px;	
}

.welcomeBox_paragraph
{
	color: #323332;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 14px;
}

.welcomeBox ul
{
	padding-left: 15px;
	margin: 0;
}
.welcomeBox ul li
{
	margin-bottom: 8px;
	font-size: 14px;
}





