<footer class="footer">
  <small>
    BonsaiUp by #SWCologne - See also @BonsaiUp
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "What is BonsaiUp",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
