<div id="footerContent">
    <span class="footerText">BonsaiUp by #SWCologne - See also @BonsaiUp</span>
	<ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "What is BonsaiUp",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
</div>
