<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo_top.jpg", alt: "BansaiUp"), '#' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "01 HOME",    '#' %></li>
          <li><%= link_to "02 WHAT IS BONSAIUP ",    '#' %></li>
          <li><%= link_to "03 CONTACT", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
