<div id="topContent">
	<div id="logoArea">
		<%= link_to image_tag("logo_top.jpg", alt: "BonsaiUp", id: "logo"), '#' %>
	</div>
	<div id="topNavigationArea">
		<ul class="topNavigation">
			<li><%= link_to "01 HOME",    '#' %></li>
			<li><%= link_to "02 WHAT IS BONSAIUP? ",    '#' %></li>
			<li><%= link_to "03 CONTACT", '#' %></li>
		</ul>
	</div>
</div>


